 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Club | Official Site</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/resp.css">
    <link rel="icon" href="./images/0f31a5f636653289176436850697c9e1.jpg" type="image/x-icon">
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <div class="logo">
            <img src="./images/mclogo.png" class="logopic" alt="logo" width="200px">
        </div>
        <div>
            <img src="./images/mario_banner_by_dgrtr_deodpr6-fullview.jpg" width="100%">
        </div>
        <div class="main-nav">
            <nav>
                <ul>
                    <li><a href="/" class="active">Join the Club</a></li>
                    <li><a href="latest.html">Latest Games</a></li>
                    <li><a href="news.html">Newsletter</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

            </nav>
        </div>
    </header>

     <main>
        <div class="intro">
            <h1>It's a me, Mario!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nesciunt labore magni dicta, quia et temporibus officiis. Doloremque facilis perferendis excepturi, iste veritatis velit accusantium. Soluta aut odio iusto id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam mollitia fuga ab exercitationem nostrum! Maxime impedit nostrum quis iure velit! Dolore neque cum atque! Harum quis reiciendis molestiae minima nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus explicabo quidem animi beatae quisquam magnam at aliquam ex quas, sed molestiae minus unde maiores cum amet a provident eum accusamus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, molestias tenetur. Iste maiores tempore deserunt quas dolorum in ratione ab assumenda veritatis nihil ducimus autem dignissimos porro delectus, quasi magni.
            </p>
        </div>
        <div class="mappic">
            <p><img src="./images/792045b16604606ed45eb00532835705.jpg" width="100%" ></p>
            <p><img src="./images/0a34b77648b9991745ac94c3699e7935.jpg" width="100%"></p>
        </div>
    </main>

    <section class="join">
        <h2>Join Today</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aperiam, praesentium sint inventore suscipi!
        </p>
        <form>
            <input type="email" id="email" name="email" placeholder="Enter email & hit enter">
        </form>
    </section>
    <footer>
        <p>
            &copy; Copyrights 2024 MarioClub. All Rights Reserved
        </p>
    </footer>
    
    
</body>
</html>


