.hed{
    position:sticky;
    top:0;
    background-color: white;
    z-index:1;
    opacity: 0.9;;
}
.masthead{
    background-size: cover;
    min-height:100vh;
    color:white;
    position:relative;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);

}
.color-overlay{
    position: absolute;
    height:100%;
    width:100%;  
    top:40%;
}

h1{
    font-size:4rem;
    font-weight: bold;
}


.slide1{
    position:relative;
    transition:all 3s;
    
}
.slide1-text{
    position:absolute;
    /* top:50; */
    /* bottom: 50; */
    margin-top:500px;
}
.slide1:hover{
    transform: scale(0.9);
}

.slide2{
    position: relative;
    transition:all 3s;

}
.slide2-text{
    position:absolute;
    left:39%;
    margin-top:500px;
}
.slide2:hover{
    transform: scale(0.9);
}

.slide3{
    position: relative;
    transition:all 3s;

}

.slide3-text{
    position:absolute;
    left:70%;
    margin-top:500px;
}
.slide3:hover{
    transform: scale(0.9);
}

@media only screen and (min-width: 600px) {

    .masthead{
        min-height: 70vh;
    }

    h1{
        font-size:2rem;
    }
    /* #slide1 img{
        border:1px solid red;
    } */
    /* #slide1 h3, #slide1 p {
        margin:0;
        font-size: 15px;
    } */
    /* #slide2 h3, #slide2 p {
        margin:0;
        font-size: 15px; */
        /* justify-content: flex-start; */
    
    .slide1-text{
        left:20%;
        margin-top:500px;
        font-size: 15px;
    }
    .slide2-text{
        left:20%;
        margin-top:500px;
        font-size: 15px;
    }
    /* #slide3 h3, #slide3 p {
        margin:0;
        font-size: 15px;
    } */
    .slide3-text{
        left:20%;
        margin-top: 500px;
        font-size: 15px;
    }
    
}
/* @media only screen and(min-width:768px) {
    #slide1 img{
        border:1px solid red;
    }
    .slide1-text{
        top:10%;
        margin-top:300px;
        font-size: 15px;
    }

    .slide2-text{
        /* left:40%; */
        /* margin-top:500px; */
        /* font-size: 15px; */
    
    
